* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-100: #fff;
    --primary: #ff0000;
    --base-content: #070211;
    --banner-text: #fff;
}

/* body styles */
body {
    font-family: "Merriweather", serif;
}

/* banner styles */
.banner-container {
    max-width: 1320px;
    height: 600px;
    margin: 50px auto 0;
    border: 1px solid #333;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Banner Image.png');
    border-radius: 16px;
    padding: 177px 344px;
}

.banner-subtitle {
    font-size: 32px;
    font-weight: 500;
    color: var(--banner-text);
    text-align: center;
}

.banner-title {
    margin: 16px 0 0;
    color: var(--banner-text);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

/* main styles */
main {
    max-width: 1320px;
    margin: 0 auto;
}

/* offer section */
.offer-container {
    width: 802.9px;
    height: 806px;
    margin: 130px auto 0;
    background-image: url("../images/New Year Photo.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.off-percentage {
    color: var(--primary);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.offer-container-subtitle {
    color: var(--primary);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin: 48px 0 0;
}

.offer-container-categories {
    color: var(--base-content);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0 0;
}

/* midnight party styles */
.midnight-party-container {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(90deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Group 70.png"), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: 85% center, center;
    border-radius: 16px;
    margin: 120px 0 0;
}

.midnight-party-content {
    padding: 126px 0 142px 126px;
    width: 697px;
    text-align: left;
}

.midnight-party-title {
    color: var(--banner-text);
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
}

.midnight-party-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 24px 0 0;
}

.midnight-party-btn {
    background-color: transparent;
    border: none;
    color: var(--banner-text);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 32px 0 0 0;
    padding: 1rem 2rem;
    cursor: pointer;
}

.midnight-party-btn:hover {
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: var(--primary);
    transition: 0.5s;
}